:root {
  /* Primary Colors */
  --clr-primary-1: hsl(162, 61%, 89%);
  --clr-primary-2: hsl(162, 60%, 78%);
  --clr-primary-3: hsl(162, 61%, 67%);
  --clr-primary-4: hsl(162, 61%, 57%);
  --clr-primary-5: hsl(162, 73%, 46%);
  --clr-primary-6: #1aa179;
  --clr-primary-7: #13795b;
  --clr-primary-8: #0d503c;
  --clr-primary-9: #06281e;
  /* Secondary Colors */
  --clr-grey-1: hsl(212, 33%, 89%);
  --clr-grey-2: hsl(210, 31%, 80%);
  --clr-grey-3: hsl(211, 27%, 70%);
  --clr-grey-4: hsl(209, 23%, 60%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 28%, 39%);
  --clr-grey-7: hsl(209, 34%, 30%);
  --clr-grey-8: hsl(211, 39%, 23%);
  --clr-grey-9: hsl(209, 61%, 16%);
  /* Standard Colors */
  --clr-white: #fff;
  --clr-black: #222;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-blue-dark: hsl(236, 100%, 40%);
  --clr-blue-light: hsl(241, 100%, 83%);
  /*Base Color*/
  --clr-base: #f28ab2;
  /* Shadows */
  --shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.4);
  --shadow-faint: 0 0 5px rgba(75, 75, 75, 0.07);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 0.875rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*---------------------------------- Basic template ends -------------------------------------------------------*/

body {
  background-color: rgb(45, 7, 61);
}

.heading {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  color: white;
  font-size: x-large;
}

.head-img {
  margin-bottom: 1rem;
  height: 7rem;
  width: 7rem;
  border-radius: 10%;
}

.input-box {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  margin-bottom: 1rem;
}
.input-field {
  width: 25rem;
  margin-top: 1rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.Add {
  background-color: green;
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.item-box {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.item-list {
  width: 25rem;
  list-style-type: none;
  transform: translate(-7.5%);
}
.item-list li {
  margin-bottom: 0.7rem;
  border-radius: 0.5rem;
  color: white;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: space-between;
  background-color: blue;
}

.icons {
  margin-left: 1rem;
}
